.slider-container {
  /* border: 10px solid black; */
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;


}

.secondary-image {
  border-radius: 0.5rem;
  height: 500px;
  width: 100%;
  box-shadow: 5px 5px 7px #eae7e7;
  width: 720px;
  height: 500px;
  transition: all;
  transition-duration: 1s;
}

.primary-image {
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px 3px #ddd4ee;
  width: 300px;
  height: 500px;
  transition: all;
  transition-duration: 1s;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
  justify-content: space-between;
}

.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* border: 2px solid red; */
}

.bottom-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;

}

.left-arrow {
  /* border: 2px solid white; */
  position: relative;
  bottom: 8px;
}

.right-arrow {
  /* border: 2px solid white; */
  position: relative;
  bottom: 8px;
}