
.main-container{
  /* border: 2px solid red; */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--bs-dark-primary);
}
.left-container{
  height: 500px;
  padding-top: 30px;
}
.right-container{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
}
.slider-images{
  height: 400px;
  width: 600px;
  position: relative;
  top: 15px;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 7px #666;
}
.left-arrow{
  position: relative;
  left: -30px;
}
.right-arrow{
  position: relative;
}
.left-button{
  position: relative;
  height: 40px;
}
.right-button{
  position: relative;
  height: 40px;
}
  
.bottom-right-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* shape divider css */

